.wrapper{
  margin: 10px 20px 10px 20px; // margin left, right, top, bottom. 
  // Данную запись можно записать как margin: 10px 20px; margin - внешний отступ от блоков.
  padding: 10px 20px 10px 20px; // padding left, right, top, bottom.
  // Данную запись можно записать также как и выше. padding - внутренний отступ блока.
  display: flex; // flex - это свойство, которое позволяет настроить отображение элементов. 
  //Также можно почитать https://fls.guru/flexbox.html
  justify-content: center; // justify-content - это свойство, которое позволяет настроить 
  // отображение элементов по главной оси (x).
  align-items: center; // align-items - это свойство, которое позволяет настроить отображение 
  // элементов по поперечной оси (y).
  gap: 10px; // gap - это свойство, которое позволяет настроить разрыв между элементами.
  flex-shrink: 0; // flex-shrink - Определяет возможность элемента 
  // уменьшаться в размере, при необходимости заполняя весь flex-контейер. 0 запрещено. 1 разрешено.
  flex-grow: 0; // flex-grow - Определяет возможность элемента 
  // увеличиваться в размере, при необходимости заполняя весь flex-контейнер. 0 запрещено. 1 разрешено.
  flex-basis: 0; // flex-basis - Определяет размер элемента по 
  //умолчанию, до распределения оставшегося пространства. Значения могут быть в процентах пикселях и т.д.

  // все 6 свойства выше используются только в случае с display: flex и display: grid; Гриды мы пока не трогаем

  width: 100%; // width - это свойство, которое позволяет настроить ширину блоков.
  height: 100%; // height - это свойство, которое позволяет настроить высоту блоков.
  border: 1px solid black; // border - это свойство, которое позволяет настроить отображение границы. 
  // Solid - сплошная, в основном используется она, если нужно какая-то другая - заходим в документацию 
  // по border и смотрим.
  color: #ffffff; // color - это свойство, которое позволяет настроить цвет текста.
  background: red; // background - это свойство, которое позволяет настроить цвет фона. 
  // Также можно записать как background-color.
  font-size: 14px; // font-size - это свойство, которое позволяет настроить размер шрифта.
  font-weight: 400; // font-weight - это свойство, которое позволяет настроить жирность шрифта.
  font-style: normal; // font-style - это свойство, которое позволяет настроить стиль шрифта. 
  // Есть italic и normal. italic - наклонный шрифт, normal - обычный шрифт.
  line-height: normal; // line-height - это свойство, которое позволяет настроить межстрочный интервал.
  text-align: center; // text-align - это свойство, которое позволяет настроить текст по главной оси.
  text-transform: uppercase; // text-transform - это свойство, которое позволяет настроить текст. 
  // lowercase - нижний регистр, uppercase - верхний регистр.
  text-decoration: underline; // text-decoration - это свойство, которое позволяет настроить текст подчеркиванием.
  text-shadow: 1px 1px 1px red; // text-shadow - это свойство, которое позволяет настроить тень текста.
  word-break: break-all; // word-break - это свойство, которое позволяет настроить перенос слов.
  position: relative; // можно почитать https://fls.guru/cssposition.html.
}
